/* General Styles 
Esto se aplica a todo
*/
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    ;
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    color: #ffffffee;
    text-align: center;
    
  }

  html{
scroll-behavior: smooth;
  }
  
  /* Container */
  .container {
    width: 60%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header */
  header h1 {
    font-size: 1.8em;
    margin-bottom: 30px;
  }
  
  /* Profile Section */
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .profile-picture {
    width: 120px;
    height: 120px;
    background-color: #e0e0e0;
    border-radius: 50%;
  }
  
  .icons {
    margin-top: 15px;
  }
  
  a{
    text-decoration: none;
  }
  .icons a img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.2s ease;
  }
  
  .icons a img:hover {
    transform: scale(1.1);
  }
  
  /* Introduction Section */
  .intro {
    margin: 30px 0;
    font-size: 1.8em;
    line-height: 1.5;
    border: 1px solid #ddd;
    padding: 10px 0;
    background-color: #161616;
    border-radius: 10px;
    
  }
  
  /* Projects Section */
  .projects h2 {
    font-size: 2.6em;
    margin-top: 30px;
  }

  /* Navigation */
    .navigation {
      background-color: #050505; /* Fondo oscuro */
      color: white;
      padding: 25px 0;
      text-align: center;
      position: sticky; /* Fijo en la parte superior */
      top: 0;
      z-index: 1000;
    }
    
    .navigation ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center; /* Centra los elementos del menú */
      gap: 20px; /* Espaciado entre los enlaces */
    }
    
    .navigation li {
      margin: 0;
    }
    
    .navigation a {
      text-decoration: none;
      color: white;
      font-size: 1.4em; /* Tamaño de texto ligeramente más grande */
      padding: 10px 15px; /* Espaciado interno para agrandar las áreas de clic */
      transition: background-color 0.3s ease, color 0.3s ease;
      border-radius: 5px; /* Bordes redondeados para armonizar */
    }
    

    
    .navigation a:hover,
    .navigation a:active,
    .navigation a:focus {
      background-color: #ffffff; /* Mantener el resalte en clic o foco */
      box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.8);
      color: black;
    }

/* Proyectos Grid */
.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project {
  width: 400px;
  background-color: #161616;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: scale(1.03);
  background-color: black;
  box-shadow: 0 0 15px  rgba(255, 255, 255, 0.95);
}

.project-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 0.92;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: left;
  padding: 4px;
  padding-left: 15px;
  font-size: 1.2em;
  border-bottom: 1px solid #ddd; 
}

.project-info {
  padding: 15px;
  text-align: center;
}

.project-info h3 {
  margin: 10px 0 5px;
  font-size: 1.7em;
}

.project-info p {
  font-size: 1.3em;
  line-height: 1.4;
}

/* Sobre mí Section */
.aboutme {
  padding: 3%;
  background-color: #161616;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.aboutme h2 {
  font-size: 3em;
}

.aboutme p {
  font-size: 1.3em;
  line-height: 1.6;
  margin-bottom: 15px;

}


.aboutme a {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 10px;
}



