/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Base del documento */
html, body, #root, .root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 0;
  color: #ffffffee;
  text-align: center;
  background: linear-gradient(#1e7a9e, #041c2e);
  position: relative;
}

/* Container */
.container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  z-index: 2; /* para que esté por encima del canvas */
}
