.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    aspect-ratio: 16/9; 
    height: 600px;
    
  }
  
  .carousel img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: auto;

 
  }
  